<div class="screens-template">
  <h1>   {{screenTitle}}   </h1>
  
  <!-- This template has extra whitespace for minification testing -->
  <div    class="content"   >
    <p>   {{content}}   </p>
    
    <button    type="button"   >   Click me   </button>
  </div>
</div>
